$brand-1: #FFCB70;
$brand-2: #6E0377;
$brand-3: #210124;
$brand-4: #F1f7ed;
$brand-5: #FFAE23;
$brand-6: #DB2b39;
$brand-7: #a5cc8e;
$brand-8: #E4626D;
$brand-9: #0266ca;

$secondary-1: #FCF7F6;
$secondary-2: #231F20;
$secondary-3: #6D6D6D;
